<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>API Models TeamworkProjectCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TeamworkKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TeamworkProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TeamworkProjectCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TeamworkProjectCoreTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TeamworkProjectSiri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED6D6E5D1F9A543800761D09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED6D6E731F9A543800761D09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED6D6E7E1F9A543800761D09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDBBA5E41F9F9244000E8132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDBBA5ED1F9F9244000E8132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
